@import url("https://fonts.googleapis.com/css?family=Bitter:400,400italic,700|Montserrat:400,700");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
}

div#header {
	width: 100%;
	height: 50px;
	background-color: #3d3d3d;
	margin: 0 auto;
}

div#footer {
	width: 100%;
	height: 20px;
	background-color: #95a5a6;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top:  7px;
	margin-left: 15px;
}

.logo a{ 
	font-size: 1.0em;
	color: #fff;
}

.logo a span{
	font-size: 1.4em;
	font-weight: 600;
}

div#container {
	width: 100%;
	margin: 0 auto;
}

.sidebar {
	width: 200px;
/*	height: 100%; */
	background-color: #171717;
	float: left; 
}

ul#nav {
	
}

ul#nav li{
	list-style: none;	
}

ul#nav li a{
	text-align: center;
	color: #ccc;
	display: block;
	padding: 10px;
	font-size: 1em;
	border-bottom: 1px solid #000;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	font-weight: 900px;
}

ul#nav li a:hover {
	border-left: 10px solid #31ce73;
	color: #fff;
	padding-left: 20px;
}

ul#nav li a.selected {
	border-left: 10px solid #31ce73;
	color: #fff;
}

.content {
	width: auto;
	margin-left: 200px;
	height: 100%;
	background-color: #ecf0f1;
	padding: 15px;
}

.content p {
	color: #424242;
	font-size: 0.9em;
}

div#box .box-top{
	color: #fff;
	text-shadow: 0px 0px 1px #ddd;
	background-color: #31ce73;
	padding: 5px;
	padding-left: 15px;  
	font-weight: 300;
}

div#box .box-panel {
	padding: 15px;
	-webkit-box-shadow: -4px 3px 45px -5px rgba(102,102,102,0.54);
-moz-box-shadow: -4px 3px 45px -5px rgba(102,102,102,0.54);
box-shadow: -4px 3px 45px -5px rgba(102,102,102,0.54);
}

a.mobile {
	display: block;
	color: #31ce73;
	background-color: #000;
	text-align: center;
	padding: 7px;
	border-top: 2px solid #31ce73;

}

a.mobile:active { 
	color: #fff;
	font-weight: 900px;
}

@media only screen and (max-width: 320px) {
	.sidebar {
		width: 100%;
		display: none;
	}
	.content {
		margin-left: 0px;
	}
	#header ul{
		display: none;
	}

}

@media only screen and (min-width: 320px){
	
	a.mobile{
		display: none;
	}
	.sidebar{
		height: 100%;
		display: block;
	}
}

#header ul
{	
	float: right;
	list-style:none;
	position:relative;
	margin:0;
	padding:0;
	
}

#header ul a
{	
	display:block;
	color:#31ce73;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height: 50px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#header ul li
{
	position:relative;
	float:right;
	margin-right:60px;
	padding:0;
}

#header ul li.current-menu-item
{
	border-left: 10px solid #31ce73;
}

#header ul li:hover
{	
	border-left: 10px solid #31ce73;
}

#header ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#header ul ul li
{
	float:none;
	width:200px
}

#header ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#header ul ul ul
{
	top:0;
	left:100%
}

#header ul li:hover > ul
{
	display:block
}